.greetings {
    padding: 20px;
    border-radius: 10px;
    background: red;
    color: #fff;
    text-align: center;
    border: 1px solid black;
}

.greetingsNew {
    padding: 20px;
    border-radius: 10px;
    background: red;
    color: #fff;
    text-align: center;
    border: 1px solid black;
}
.backgroundColor {
    background-color: orange;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2px;
}

.item {
    max-width: 250px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}


